*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #c5c2c28f;
}
.header div{
    display: grid;
    grid-template-rows: 100px 40px;
    width: 270px;
    padding: 20px;
    text-align: center;
    align-items: center;
}
.header{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 250px;
    background-color: rgb(45, 43, 43);
    color: white;
    padding: 0 100px;
}
.header h1{
    background-color: rgb(49, 136, 20);
    padding: 10px;

}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    align-items: center;
}
.navbar a{
    color: white;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 100px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    column-gap: 20px;
    background-color: #eee;
    align-items: center;
}
.sec1-div1{
     background-color:  rgb(49, 136, 20);
     color: white;
     padding: 30px 40px;
     font-size: 30px;
     text-align: center;
     grid-column-start: 1 ;
     grid-column-end: 4 ;
     border-radius: 10px;

}
.sec1-div1 p{
    line-height: 23px;
}
.section2{
    background-color: rgb(71, 19, 113);
    color: white;
    height: 200px;
    line-height: 80px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}
.section3{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 2fr  2fr 2fr ;
    gap: 10px ;
    margin: 20px;
}
.section3 div{
    border: 1px solid #9f9a9a;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}
.section3 div h3{
    color: green;
}
.section4{
    background-color: white;
    padding: 50px;
    height: 50vh;
}
.section4 h3{
    padding: 49px;
}
.sec4-div1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.sec4-div2{
   grid-column-start: 2;
   grid-column-end: span 4;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
}
.sec4-div2 p:first-child{
    grid-row-start: 2;
    grid-row-end: 4;
}
.sec4-div2 p:last-child{
    grid-row-start: 4;
    grid-row-end: span 5;
}
.section4 img{
    width: 250px;
    padding-left: 50px;
}
.section4 h3{
    font-size: 30px;
    text-align: center;
}
footer{
    background-color: rgb(81, 79, 79);
    height: 50px;
    color: white;
    text-align: center;
    line-height: 49px;
    margin-top: 10px;
}
